//
// variables
// --------------------------------------------------

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- typography -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/

:root {
  --font-base: sans-serif;
}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- colors -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
:root {
  --clr-black: #111;
  --clr-white: #fff;
  --clr-yellow: #f4d04e;
  --clr-grey: #7f7f7f;
  --color-text: var(--clr-black);
}
